@import url('https://fonts.googleapis.com/css?family=Sacramento');
/* font-family: 'Anonymous Pro', monospace; */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
/* font-family: 'Kreon', serif; */
@import url('https://fonts.googleapis.com/css?family=Kreon');

#dialog{
    background: url('https://images.pexels.com/photos/1294668/pexels-photo-1294668.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    opacity: 0.95;
    width: 50%;
    height: auto;
    position: relative;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    text-align: center;
}

#close-dialog{
    background: rgba(0, 0, 0, 0.699);
    color: white;
    font-family: 'Anonymous Pro', monospace;
    font-size: 18px;
    
}

.dialog-content, h4, p, h3{
    color: wheat;
    text-shadow: 1px 1px black;
    
    
}

.cv__buttons{
    margin-right: 10%;
    display: inline-block;
    

}
.cv__buttons a{
    text-shadow: 0px 1px purple;
}

#first__link{
    margin: 10px; 
    margin-right: 5px;
}

