@import url('https://fonts.googleapis.com/css?family=Sacramento');
/* font-family: 'Anonymous Pro', monospace; */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
/* font-family: 'Kreon', serif; */
@import url('https://fonts.googleapis.com/css?family=Kreon');


.mdl-card .mdl-shadow--2dp{
    border-radius: 20px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: 1px 0px 1px 0px rgba(39, 39, 39, 0.616);
}

.mdl-list__item:hover{
    background: #141414d0;
    border-radius: 10px;
}

.mdl-list__item-primary-content i{
    text-decoration: none;
    margin-right: 10px;
    font-size: 19px;
}


a{
    text-decoration: none;
    font-size: 18px;
}