@import url('https://fonts.googleapis.com/css?family=Sacramento');
/* font-family: 'Anonymous Pro', monospace; */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
/* font-family: 'Kreon', serif; */
@import url('https://fonts.googleapis.com/css?family=Kreon');

.navBarMain{
  position: absolute;
}


#navHeader{
    border-bottom: 1px solid rgba(255, 255, 255, 0.055); 
    position: fixed;
}
  
  #navHeader span{
    font-family: 'Sacramento';
    font-size: 40px;
    text-shadow:1px 1px 1px #f4f4f491;
  }
  
   
  .mdl-navigation__link{
    font-size: 25px;
    text-shadow:1px 1px #000;
  }
  
  .is-visible{
    background-color: aquamarine;
  }
  
  .picNav{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  
  .page-content{
    color: aliceblue;
    font-size: 50px;
    text-align: center;
  }