/* footer{
    width: 100%;
} */

.mdl-logo{
    font-size: 25px;
    margin-right: 25px;
}

@media screen and (min-width: 320px) and (max-width: 425px){
    .mdl-logo{
        font-size: 15px;
    }
    .mdl-mini-footer__link-list a{
        font-size: 15px;
    }
}