@import url('https://fonts.googleapis.com/css?family=Sacramento');
/* font-family: 'Anonymous Pro', monospace; */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
/* font-family: 'Kreon', serif; */
@import url('https://fonts.googleapis.com/css?family=Kreon');


*,
*::before,
*::after {
  box-sizing: border-box;
}

/* *{
  outline: 1px solid red;
} */

body,html{
  position: relative;
  height:100%;
  margin:0;
  /* background: url('https://images.pexels.com/photos/92905/pexels-photo-92905.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  background-attachment: fixed;
  /* opacity:0.70; */
  /* background-position:center;*/
  background-size:cover;
  background-repeat:no-repeat;
}



