@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

.pimg1, .pimg2, .pimg3, .pimg4{
  height: 700px;
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('https://images.pexels.com/photos/2237795/pexels-photo-2237795.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  min-height:100%;
  
}

.pimg2{
  background-image:url('https://i.giphy.com/media/xT9IgzoKnwFNmISR8I/giphy.webp');
  min-height: 100%;
  height: 400px;
  background-size: inherit;
  background-repeat: repeat;
}

.pimg3{
  background-image:url('https://images.pexels.com/photos/1509428/pexels-photo-1509428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  min-height:100%;
  height: 500px;
}

.pimg4{
  background-image:url('https://images.pexels.com/photos/66100/pexels-photo-66100.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  min-height:100%;
  height: 500px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color: rgb(58, 39, 58);
  color:rgb(230, 230, 230);
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
  
}

.ptext{
  position:absolute;
  opacity: 50;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
  lighting-color: #ddd;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}


.ptext .border.trans{
  background-color:transparent;
}

@media(max-width: 100%){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;
  }
}

.aboutBodyTxt{
  text-align: justify;
  font-family: 'Arima Madurai', cursive;
  font-size: 15px;
  color: white;
}

.title{
  font-size: 30px;  
  color: white;
}

#contacto{
  word-break: break-word;
}

.skills{
  display: inline-block;
  width: 50%;
}
